*{box-sizing: border-box; font-family: ballega;}
.w100{width: 100%;}
h2{
    background-color: #000; 
    color: white;}

a{text-decoration: none;}

body{color: #333; width: 90%; margin: auto;}

@font-face {
    font-family: ballega;
    src: url(../font/Garet.otf);
    }

/*header*/

.flexbox{
    display: flex; 
    flex-wrap: wrap;}

.header__nav li{
    list-style-type: none; 
    display: inline; 
    margin: 10px 20px; }

.header__nav ul{ 
    margin: 0px; 
    text-align: end; 
    text-align: bottom; 
    padding-top: 10px;}

header{
    margin: 20px; 
    padding-top: 30px; 
    height: 60px; 
    width: 90%; 
    margin: auto;}

header .flexbox{width: 100%;}

.header__logo{
    width: 10%; 
    padding-top: 10px; 
    font-size: 20px; 
    font-weight: bold;}

.header__nav{width: 85%;}

.header__img{width: 5%;}

.header__img img{width: 40px; height:40px}

/*MAIN*/
main{width: 90%; margin: auto;}


.copertina {
    width: 100%;
  }

h3.header__logo{
    margin: 0px; 
    padding: 0px;}

h1.header__login{
    margin: 10px; 
    padding: 0px;}

.contenuto{
    display: flex;  
    width: 100%; 
    justify-content: space-between;
}

div.contenuto__item{
    border: 1px solid #888;
    border-radius: 10px 10px;
    padding: 20px;
    width: 40%;
    display: flex;
}
div.contenuto__item__img{
    width: 50%;
    height: 200px;
    display: flex;
    overflow: hidden;
}

div.contenuto__item__text{
    width: 50%;
    height: 200px;
    overflow: hidden;
}

div.item40{
    width: 40%; 
    margin-right: 20px;}

div.item20{
    width: 16.5%; 
    background-color: green;}


.float-right{
    float: right; 
    width: 50%;}

img.floeat_left{
    float: left; 
    width: 100%;
}




/*media query main*/
@media (max-width:798px) {
    .main__contenuto{width: 100%;}
    div.item40{width: 100%;height: 40%;padding: 10%; }
    div.item20{width: 40%; margin:auto; height:40%; margin-bottom: 10%; border-radius: 5%; padding-left: 3%;}
}

/* LOGIN */
input{
    border: 1px solid #eee; 
    border-radius: 5px; 
    background-color: #eee;}

.table__login{
    padding: 20px;
    margin: auto; 
    margin-top: 180px; 
    margin-bottom: 180px;
    width: 30%;
    border-radius: 10px; 
    background-color: #fff; 
    box-shadow: 4px 2px 20px 5px rgba(5,5,5,0.15);}

.input__submit{
    margin: auto; 
    margin-top: 10px;
  	width:70%;
  	background-color:#4089a1;
  	color: white;
}

.input__submit:hover{
  background-color:#076b8f;
  transition-property: background-color;
	transition-duration: 0.2s;
}

.input__text{margin: 0px 15px;
  width:90%;
}

/* CERCA */
.header__sottopagine{background-color: #000;}

.barra__ricerca{
    justify-content: space-between; 
    color: red;}


/*OUTPUT ANSWERS*/
#table__login{
    margin: auto; 
    padding: 10px;
}

/*FOOTER*/
.footer{
    width: 100%;
    background-color: #333;
    position: relative;
    bottom:0;
    padding: 10px;
    text-align: center;
}
.footer_text{color: #eee; margin: auto;} 